body{
    background-color: whitesmoke;
    background-image: url(RikasModel2.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}
.rikas-header{
    /*background-color: black;*/
    display: flex;
    color: white;
}

.rikas-header-logo{
    width: 10%;
    margin: 0 5%;
    color: black;
    /*background-color: green;*/
}

.rikas-header-navbar{
    width: 40%;
    margin: 0 10%;
    /*background-color: blueviolet;*/
    /*padding: 0 10%;*/
}

.rikas-header-button{
    width: 10%;
    margin: 0 5%;
    /*background-color: aquamarine;*/
}

.rikas-header-navbar-ul{
    /*background-color: red;*/
    display: flex;
    list-style-type: none;
}

.rikas-header-navbar-ul span{
    width: 20%;
    margin: 2.5%;
    
}

.rikas-header-navbar-ul span a{
    color: inherit;
    text-decoration: none;
}

.rikas-chat{
    background-color: blue;
    
}

.rikas-chat-metatools{
    display: none;
    position: absolute;
    top: 21%;
    
    padding-left: 90%;
}

#rikas-chat-close-btn{
 border: none;
 padding: 50%;
 border-radius: 50px;
 cursor: pointer;
 background-color: cadetblue;
 color: white;
 font-weight: bold;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2);
}


.rikas-chat-interface{
    background-color: wheat;
    display: none;
    height: 55%;
    width: 25%;
    overflow-wrap: break-word;
    hyphens: auto;
    position: absolute;
    top: 30%;
    left: 70%;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
    border-radius: 10px;
}

#rikas-chat-box-div{
    overflow: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scroll-snap-stop: always;
    padding-bottom: 15px;
}

.rikas-chat-image{
    border-radius: 50px;
}

.rikas-chat-speaker-interface{
    padding: 15px;
    background-color: antiquewhite;
    border-radius: 20px;
}

.rikas-chat-visitor-interface{
    padding: 15px;
    background-color: palevioletred;
    border-radius: 20px;
    width: 80%;
    margin-top: 15px;
    float: right;
}

.rikas-chat-interface-render{
    display: flex;
}

.rikas-chat-interface-visitor-toolbar{
    display: flex;
    justify-content: space-between;
    border-top: 0.5px solid black;
    padding: 10px;
    opacity: 30%;
}

.rikas-chat-interface-visitor-toolbar input{
    border: none;
    border-bottom: 1px solid black;
    width: 80%;
    background-color: inherit;
}

.rikas-chat-interface-visitor-toolbar input:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    width: 80%;
    background-color: inherit;
}

.rikas-chat-interface-visitor-toolbar button{
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: black;
    padding: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#rikas-chat-button{
    position: absolute;
    top: 90%;
    left: 90%;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: tomato;
    padding: 15px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    
   /* position: relative;
    float: right;*/
}

.rikas-footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 2% 35%;
}

.rikas-footer a{
    color: inherit;
}

.rikas-footer span{
    padding: 2%;
    word-spacing: 2px;
}

.rikas-text-highlight{
    font-weight: bold;
}